<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oneclean.android.booster">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".OneCleanerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="true"
        tools:ignore="LockedOrientationActivity"
        android:theme="@style/Theme.ONECleaner"
        tools:targetApi="r">
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.base.TestActivity"
            android:exported="true">

        </activity>

        <activity
            android:screenOrientation="portrait"
            android:name=".ui.home.HomeActivity"
            android:launchMode="singleTop"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.animation.AnimationActivity"
            android:exported="true" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.cleaned.CleanedActivity"
            android:exported="true" />
        <activity
            android:name=".ui.launcher.LauncherActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.junkclean.JunkCleanActivity"
            android:exported="true" />

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value=""/>-->
    </application>

</manifest>